services:
  mock:
    image: nginx:1.27-alpine3.20
    ports:
      - "4000:4000"
    volumes:
      - ./assets/mock/nginx.conf:/etc/nginx/conf.d/default.conf

  kong:
    build: 
      context: ./
    environment:
      ENVIRONMENT: dev
      KONG_LOG_LEVEL: info
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
      KONG_PLUGINS: "bundled,sentry"
      KONG_LUA_PACKAGE_PATH: /usr/local/kong/plugins
      KONG_NGINX_HTTP_LUA_CAPTURE_ERROR_LOG: 100k
    ports:
      - "8000:8000"
      - "8001:8001"
    restart: unless-stopped
    volumes:
      - ./assets/kong.yml:/usr/local/kong/declarative/kong.yml:ro